# Global settings (affects HAProxy's general behavior)
global
    log stdout format raw daemon debug
    #log /dev/log local0                             # Log events to syslog facility local0
    #log /dev/log local1 notice                      # Log events of severity 'notice' or higher to local1
    maxconn 4096                                    # Maximum number of concurrent connections HAProxy will handle
    daemon                                          # Run HAProxy in the background as a daemon process
    stats socket /var/run/haproxy.sock mode 600 level admin  # Define a stats socket for HAProxy management
    stats timeout 30s                               # Timeout for idle sessions in the stats socket

# Default settings (applies to all frontend and backend definitions unless overridden)
defaults
    log     global                                  # Use global log settings
    mode    tcp                                     # Set mode to TCP, since PgBouncer uses TCP for connections
    option  tcplog                                  # Enable detailed logging for TCP connections
    option  dontlognull                             # Don't log empty connections (e.g., client disconnects without data)
    retries 3                                       # Number of retries before a connection is considered failed
    timeout connect 10s                             # Timeout for connecting to a backend server
    timeout client 1m                               # Timeout for client-side inactivity
    timeout server 1m                               # Timeout for server-side inactivity
    timeout check 10s                               # Timeout for health checks to determine if a backend server is responsive

# Frontend statistics
frontend stats
  mode http
  bind *:8404 v4v6
  stats enable
  stats uri /
  stats refresh 10s
  stats auth admin:admin123
  acl allowed_stats_network src 192.168.0.0/22
  stats admin if allowed_stats_network

frontend prometheus
  bind *:8405
  mode http
  http-request use-service prometheus-exporter if { path /metrics }
  no log

# Frontend definition (where HAProxy listens for incoming connections)
frontend pgbouncer_front
    bind *:6432 v4v6
    default_backend pgbouncer_back                  # Specify which backend (pgbouncer_back) to send traffic to

# Backend definition (load balancing between PgBouncer instances)
backend pgbouncer_back
    mode tcp                                        # Use TCP mode (matching PgBouncer and frontend)
    balance roundrobin                              # Load balancing algorithm: round-robin (distributes connections evenly)
    option tcp-check                                # Enable TCP health checks to ensure backend servers are available